<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClassConnect">
        <activity
            android:name=".StudentSessionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".BrowseSessionsActivity"
            android:exported="false" />
        <!-- SplashActivity as the LAUNCHER -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- SignInChoice - Set as singleTask to clear back stack when navigating here -->
        <activity
            android:name=".SignInChoice"
            android:exported="false"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".AddStudentActivity"
            android:exported="false" />
        <activity
            android:name=".ParticipantsActivity"
            android:exported="false" />
        <activity
            android:name=".EditSessionActivity"
            android:exported="false" />
        <activity
            android:name=".SessionDetailTutor"
            android:exported="false" />
        <activity
            android:name=".JoinSessionActivity"
            android:exported="false" />
        <activity
            android:name=".JoinCourseActivity"
            android:exported="false" />
        <activity
            android:name=".CreateCourseActivity"
            android:exported="false" />
        <activity
            android:name=".CourseActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".CoursesActivity"
            android:exported="false" />
        <activity
            android:name=".NavigationDrawer"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".EditStudentProfile"
            android:exported="false" />
        <activity
            android:name=".ResetStudentPassword"
            android:exported="false" />
        <activity
            android:name=".ResetTutorPassword"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".TemporaryDashboard"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".StudentSessionDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".TutorSessionDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".CreateSessionActivity"
            android:exported="false" />
    </application>

</manifest>